@use "reset";
@use "./components/utils/variables" as v;
@use "./components/utils/mixins" as mixins;
@use "./components/utils/classes";
@use "./components/utils/elements";
@use "./components/utils/variables";
@use "./components/ui/header";
@use "./pages/home";

#appcontainer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 0;
	margin: 0 auto;
	max-width: 60vw;

	@media screen and (max-width: v.$md_breakpoint) {
		max-width: 80vw;

	}
}

#app {
	display: flex;
	flex-direction: column;
	gap: 8rem;
}
.image_background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/pattern01.jpg");
    background-size: 10rem; 
    background-repeat: repeat; 
}

.gradient_mask {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, white 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, white 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.lyt_container {
	padding: 0;
	margin: 0 auto;
	max-width: 60vw;
}

.container_responsive {
	@include mixins.flex_res(initial, center, column, row)
}

.wrapper_end, .element_end, .container_end {
	@include mixins.flex(flex-end, flex-end, row)
}

.wrapper_row,
.container_row,
.element_row {
	@include mixins.flex(center, center, row)
}

.wrapper_start,
.container_start,
.element_start {
	@include mixins.flex(flex-start, flex-start, row)
}

.container_center,
.element_center,
.wrapper_center {
	@include mixins.flex(center, center, row);
}

.wrapper_column_center,
.container_column_center,
.element_column_center {
	@include mixins.flex(center, center, column);
}

.container_between,
.element_between,
.wrapper_between {
	@include mixins.flex(center, space-between, row);
}

.container_betweencolumn,
.element_betweencolumn,
.wrapper_betweencolumn {
	@include mixins.flex(flex-start, space-between, column);
}

.wrapper_column,
.container_column,
.element_column {
	@include mixins.flex(flex-start, flex-start, column);

}